<div class="main-row">
  <mat-select [formControl]="productControl()">
    @for (p of products(); track p.id) {
    <mat-option [value]="p">{{ p.name }}</mat-option>
    }
  </mat-select>
  <input
    matInput
    [formControl]="quantityControl()"
    type="number"
    placeholder="Quantity"
  />
  <button mat-mini-fab aria-label (click)="remove.emit()">
    <mat-icon svgIcon="delete"></mat-icon>
  </button>
</div>
<!-- todo translate -->
@if (isUPI()) {
  <div class="upis">
  @for (upi of upisControl().controls; track $index; let upiIndex = $index) {
  <input matInput [formControl]="upi" type="text" placeholder="צ" />
  <!-- todo translate -->
  }
</div>
}
