<div *ngIf="formsStore.addFormStatus.isLoading()" class="checkout-spinner-overlay">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>

<div class="container">
  <h1>{{ 'create-form.title' | translate }}</h1>
  
  <form [formGroup]="form">

    <div class="form-type">
      <mat-radio-group formControlName="formType">
        <mat-radio-button value="check-out">{{ 'create-form.type.check-out' | translate }}</mat-radio-button>
        <mat-radio-button value="check-in">{{ 'create-form.type.check-in' | translate }}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="explanation">
      <p>{{ createFormConfig().explanationKey | translate }}</p>
    </div>

    <mat-form-field>
      <mat-label>{{ 'create-form.select-user' | translate }}</mat-label>
      <mat-select formControlName="userID">
        @for (user of users(); track user.user.id) {
          <mat-option [value]="user.user.id">
            {{ userDescription(user) }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'create-form.form-description' | translate }}</mat-label>
      <input matInput formControlName="formDescription" name="formDescription">
    </mat-form-field>

    <div class="predefined-forms" *ngIf="showPredefinedForms()">
      <h2>{{ 'create-form.predefined-forms' | translate }}</h2>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let form of predefinedForms()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ form.description }}
            </mat-panel-title>
            <mat-panel-description class="panel-description-flex">
              <span class="item-count">{{ form.items.length }} {{ 'create-form.items' | translate }}</span>
              <button
                mat-icon-button
                color="primary"
                class="add-form-header-btn"
                (click)="addAllItems(form.items); $event.stopPropagation();"
                matTooltip="Add all items from this form"
                aria-label="Add Form"
              >
                <mat-icon>add</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <inventory-list [inventoryItems]="form.items"></inventory-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <h2>{{ 'create-form.items' | translate }}</h2>
    <editable-inventory
      [itemsToAdd]="itemsToAdd()"
      [limitItems]="createFormConfig().limitItems()"
      (editedItems)="onItemsEdited()"
      (submitItems)="onSubmit($event)"
      [submitButton]="submitButton()"
    ></editable-inventory>
  </form>
</div> 