<form [formGroup]="form">
  <ng-container formArrayName="items">
    <mat-list class="dynamic-height-list">
      @for (itemControl of items.controls; track itemControl; let i = $index){
      <mat-list-item class="dynamic-height-item">
        <editable-item [control]="itemControl" (remove)="removeItem(i)"></editable-item>
        @if (itemControl.errors?.['duplicate']) {
          <mat-error>
            {{ 'inventory.validation.duplicate-simple' | translate }}
          </mat-error>
        }
      </mat-list-item>
      }
    </mat-list>
    @if (items.errors?.['duplicate']) {
      <mat-error>
        {{ 'inventory.validation.duplicate' | translate: { duplicates: items.errors?.['duplicate'].join(', ') } }}
      </mat-error>
    }
  </ng-container>
</form>

<div class="button-container">
  <button mat-raised-button color="primary" class="add-item-button" (click)="addItem()">
    <mat-icon>add</mat-icon>
    {{ 'inventory.button.add-item' | translate }}
  </button>
  <button mat-raised-button [color]="submitButton().color" class="save-button" (click)="save()" [disabled]="!form.valid">
    <mat-icon>{{ submitButton().icon }}</mat-icon>
    {{ submitButton().text | translate }}
  </button>
</div>
