<div class="form-card">
  <h3>{{ 'forms.form-id' | translate }}: {{ form.formID }}</h3>
  <p [ngClass]="[form.status]">
    {{ 'forms.status' | translate }}:
    {{ 'forms.status-' + form.status | translate }}
  </p>
  <p>
    {{ 'forms.created-at' | translate }}:
    {{ form.createdAtTimestamp | date : 'dd/MM/yyyy HH:mm' }}
  </p>
  @if (form.approvedAtTimestamp) {
    <p>
      {{ 'forms.approved-at' | translate }}:
      {{ form.approvedAtTimestamp | date : 'dd/MM/yyyy HH:mm' }}
    </p>
  }
  <inventory-list [inventoryItems]="form.items"></inventory-list>
  @if (form.status === 'pending') {
    <div class="actions">
      <app-signature-pad (signatureChange)="signatureData = $event"></app-signature-pad>
      <button mat-raised-button [disabled]="!signatureData" color="primary" (click)="onApprove()">
        {{ 'forms.approve' | translate }}
      </button>
      <button mat-raised-button color="warn" (click)="onReject()">
        {{ 'forms.reject' | translate }}
      </button>
    </div>
  }
</div> 