<div class="container">
  <div class="user-select">
    <mat-form-field>
      <mat-label>{{ 'inventory.views.selectUser' | translate }}</mat-label>
      <mat-select
        [(ngModel)]="selectedUserID"
        (selectionChange)="onUserChange()"
      >
        <!-- TODO: user proper warehouse value -->
        <mat-option
          value="WAREHOUSE"
        >
          {{ 'inventory.views.warehouse' | translate }}
        </mat-option>
        <!-- TODO: Add other users -->
      </mat-select>
    </mat-form-field>
  </div>
  <inventory-list [inventoryItems]="userItems()"></inventory-list>
</div> 