<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">{{ 'forms.check-out' | translate }}</span>
    </ng-template>
    
    <app-forms-tab-content 
      [forms]="formsStore.checkOutForms()" 
      emptyStateMessage="forms.empty-check-out">
    </app-forms-tab-content>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">{{ 'forms.check-in' | translate }}</span>
    </ng-template>
    
    <app-forms-tab-content 
      [forms]="formsStore.checkInForms()" 
      emptyStateMessage="forms.empty-check-in">
    </app-forms-tab-content>
  </mat-tab>
</mat-tab-group>
