<div class="header">
    <span>{{'inventory.name'}}</span>
    <span>{{'inventory.pid'}}</span>
</div>
<mat-accordion>
    @for (item of inventoryItems(); track item.productID) {
        @let hasItems = !!item.upis?.length;
        @let product = organizationStore.getProduct(item.productID);
        <mat-expansion-panel [disabled]="!hasItems" [ngClass]="{upi: product?.upi}">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ product?.name }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ item.productID }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            @if (hasItems) {
                <p>{{'inventory.upi.title'}}</p>
                <!-- todo translate -->
                <mat-list>
                    @for (upi of item.upis; track upi) {
                        <mat-list-item>{{upi}}</mat-list-item>
                    }
                </mat-list>
            }
                
        </mat-expansion-panel>  
    }
</mat-accordion>
