:host {
    .header {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    
    .upi {
    .mat-expansion-panel-header {
        background-color: rgb(218, 218, 90);
        &:hover {
            background-color: rgb(162, 162, 74);
        }
    }
}
}