:host {
    .header {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    
    .upi {
    .mat-expansion-panel-header {
        background-color: yellow;
        &:hover {
            background-color: yellow;
        }
    }
}
}